#!/usr/bin/env bash
# {{ ansible_managed }}

# shell options -> $SHELLOPTS
{% if 'set' in shell_bash %}
{%   for key, is_present in shell_bash['set'].items() %}
{{ "set %so %s" | format('-' if is_present else '+', key) }}
{%   endfor %}
{% endif %}

# bash options -> $BASHOPTS
{% if 'shopt' in shell_bash %}
{%   for option, is_present in shell_bash['shopt'].items() %}
{{ "shopt -%s %s\n" | format('s' if is_present else 'u', option) }}
{%-  endfor -%}
{%- endif -%}
